---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$type-ratio: 1.4;

$spacing-unit:     30px;

$color_yellow: #FFEB3B;
$color_yellow-pale: #f9f5ce;
$color_blue: #3A9ECD;
$color_black: #333333;
$color_white: #FFFFFF;


// BPDA colors
$bpda-blue: #003b4f;
$bpda_teal-dark: #01a6b4;
$bpda_teal-light: #4dc1cb;
$bpda_gold: #ffc432;
$bpda-green: #a5c739;
$bpda_red: #ff5a28;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "elements",
        "components",
        "layout",
        "animate"
;
