---
layout: default
---
{% assign lessons = site.posts | sort:"order" %}

<div class="lesson-modules">

  <nav class="table-of-contents">
    <div class="table-of-contents__bar">
      <button class="menu-toggle" aria-controls="">
        Housing Toolkit
      </button>
      <span class="menu__current-item"></span>
      <span class="menu__current-item-section"></span>
    </div>

    <ul class="table-of-contents__list">

    </ul>
  </nav>

{% for lesson in lessons %}
  <section class="lesson" data-lesson="{{lesson.order}}" id="lesson-{{lesson.order}}">
    <span class="lesson__indicator">{{ lesson.subtitle }}</span>
    <h2 class="lesson__title">
      {{ lesson.title }}
    </h2>
    <div class="lesson__meta">Last updated: {{ lesson.updated_at | date: "%b %-d, %Y" }}</div>

    {{ lesson.content }}



    {% if lesson.isLesson %}
    {% assign lessonOptions = site.data.lessonOptions[lesson.order]  %}
    <div class="options" data-massing="{{lessonOptions.defaultMassing}}" data-rentScenario="{{lessonOptions.defaultRentScenario}}">
      <div class="options__container">
        <h2 class="options__title">{{lessonOptions.title}}</h2>
        <p class="message">Adjust the options below to view the impact.</p>

        {% for field in lessonOptions.fields %}
          {% assign fieldID = 'field-' +forloop.index %}
        <div class="options__field" data-label="{{field.dataLabel}}">
          <label for="{{fieldID}}">
            {{field.label}}
          </label>
          <div class="options__field-description">
            {{field.description | markdownify}}
          </div>
          {% for option in field.options %}
            <div class="options__field-input">
              <input type="radio" id="{{lesson.order}}-{{fieldID}}-{{field.label | slugify}}-{{option.dataValue}}" name="{{field.label | slugify}}" value="{{option.dataValue}}">
              <label for="{{lesson.order}}-{{fieldID}}-{{field.label | slugify}}-{{option.dataValue}}">
                <span class="label-icon">
                  {% include icons/circle.svg %}
                  {% include icons/circle-checked.svg %}
                </span>
                <span class="label-text">{{option.displayName}}</span>
              </label>
            </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}




    {% assign nextIndex = forloop.index + 1 %}
    {% assign nextLesson = lessons[nextIndex] %}


    {% if nextLesson %}
      <button class="button--next-lesson">
        <span class="button__subtitle">Next {% if nextLesson.isLesson %}Lesson {% endif %}</span>
        <span class="button__title">{{nextLesson.title}} {% include icons/down-arrow.svg %}</span>
      </button>
    {% endif %}
  </section>
{% endfor %}
</div>

{% include visualization.html %}
