<header class="site-header">
  <div class="hero">
    <div class="hero__container">
      <h1 class="hero__title">
        Understanding Housing Development:
        <span>A Toolkit</span>
      </h1>
      <p class="lead">
        The city has taken many steps in recent years, including the Mayor’s Housing Plan and Imagine Boston 2030, to address the lack of housing supply and affordable housing. Citizens had a role in shaping the overall community/neighborhood vision.
        <br>
        In this online toolkit, you will find a series of [four] lesson modules and interactive exercises on housing development. You will be able to examine a variety of scenarios and analyze the tradeoffs that the City, community groups, advocates and developers take-on every day.  At the end of the session, we will provide you with suggestions on how you can get involved in shaping the vision for your neighborhood.
      </p>

      <button id="start" class="button--primary">Start learning</button>
    </div>
  </div>
</header>
