<header class="site-header">
  <div class="hero">
    <div class="hero__container">
      <div class="hero__primary">
        <a class="beta" target="_blank" href="{{site.feedback_link}}">
          {% include icons/beta.svg %}
        </a>
        <h1>Understanding <br>Housing <br>Development</h1>
        <button id="start" class="button--primary">
          <span>Start learning</span> {% include icons/down-arrow.svg %}
        </button>
      </div>

      <div class="hero__secondary">
        <h2>An Interactive Educational Toolkit</h2>
        <p>This website enables you to discover various scenarios for housing development. Through a series of lessons and interactive exercises, you will be able to visualize different planning options and their effects on things like affordability, building bulk, or whether the development would be financially feasible.
        </p>
        <p>
        The tradeoffs between these outcomes are balanced every day by City Planners, Community Groups, and Development Teams — and have also been recorded in the Mayor’s Housing Plan and Imagine Boston 2030, where citizens had a role in shaping our overall vision for Boston’s growth.
        </p>
        <p>
        After completing the lessons, we will provide suggestions on how you can get involved in shaping the vision for your neighborhood.</p>
        <div class="logos">
          <a href="https://www.boston.gov/"><img src="/housingilab/images/city-of-boston-logo.png" alt="City of Boston"></a>
          <a href="http://www.bostonplans.org/"><img src="/housingilab/images/bpda-logo.png" alt="Boston Planning and Development Association"></a>
          <a href="https://www.boston.gov/departments/new-urban-mechanics/housing-innovation-lab"><img src="/housingilab/images/hil-logo.png" alt="Housing Innovation Lab"></a>
          <a href="https://www.placeful.io/" class="powered-by">
            <span>Powered By</span>
            <img src="/housingilab/images/placeful-logo.png" alt="Placeful">
          </a>
        </div>
      </div>


    </div>
  </div>
</header>
