<div class="visualization-module">
    <div class="visualization-module__canvas"></div>
    <div class="visualization-module__controls">
        <div class="visualization-module__control-content">
            <button class="visualization-module__zoom-in">zoom in</button>
            <button class="visualization-module__zoom-out">zoom out</button>
        </div>
    </div>

    <div class="visualization-module__outcomes is-closed">
        <h2 class="visualization-module__quick-outcome">
        </h2>
        <button class="visualization-module__toggle">
            <div class="visually-hidden">toggle outcome details</div>
        </button>
        <div class="visualization-module__outcomes-content">

        </div>

    </div>
</div>
