






.table-of-contents {
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    height: 2.5rem;
    opacity: 0;
    transition: all 250ms ease-in-out;

    .is-scrolled & {
        opacity: 1;
    }

    .table-of-contents__list {
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        transition: all 250ms ease-in-out;

        list-style: none;
        padding: 2rem;
        a {
            font-size: 1.5rem;
            text-decoration: none;
            font-weight: bold;
            padding: 1rem 0;
            display: inline-block;
            color: black;
            &:hover {
                color: lighten(black, 30%);
            }
        }

        ul {
            list-style: none;
            margin: 0 0 0 2rem;
            a {
                font-size: 1.2rem;
            }
        }
    }
    &.is-open {
        height: 100vh;
        overflow-y: scroll;
        .table-of-contents__list {
            z-index: 0;
            visibility: visible;
            opacity: 1;
        }
        .menu__current-item {
            opacity: 0;
        }
    }

    .is-scrolled & {
        position: fixed;
        top: 0;
        left: 1rem;
        width: $lg-content-area + 1;
        @include media-query($lg-break) {
            width: $sm-content-area + 1;
            left: 0rem;
            .menu__current-item-section {
                display: none;
            }
        }
        @include media-query($sm-break) {
            width: 100%;
        }
    }
}

.table-of-contents__bar {
    .menu__current-item:before,
    .menu__current-item-section:before {
        content: '›';
        padding: 0 0.5rem;
    }
}

.menu-toggle {
    @extend %t-button;
    box-shadow: none;
    border: none;
    color: black;
    height: 2rem;
    line-height: 2rem;
    position: relative;
    margin-left: 1rem;
    padding-left: 2rem;
    transition: all 250ms ease;

    &:before {
        content: '';
        width: 1rem;
        height: 3px;
        background: black;
        display: inline-block;
        position: absolute;
        top: calc(50% - 1.5px);
        left: 0;
        transition: all 250ms ease;
    }
    &:after {
        content: '';
        width: 1rem;
        height: 9px;
        display: inline-block;
        position: absolute;
        top: calc(50% - 0.45rem);
        left: 0;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        transition: all 250ms ease;
    }
    .is-open &:before {
        top:45%;
        transform: rotate(45deg);
    }
    .is-open &:after {
        border-top-color: transparent;
        border-top: 0;
        height: 0;
        top:45%;
        transform: rotate(-45deg);
    }

    .is-open & {
        color: transparent;
    }
}




.message {
    border: 1px solid $color_black;
    color: $color_black;
    background: $color_white;
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 3rem;
    position: relative;
    &:before {
        content: "i";
        font-family: 'Courier New', Courier, monospace;
        line-height: 2;
        display: inline-block;
        background: $color_black;
        color: $color_white;
        padding: 0.25rem 0.5rem;
        margin-right: 0.5rem;
        width: 1rem;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

    }

    @include media-query($lg-break) {
        font-size: 0.8rem;
    }
}


.options {
    background-color: darken($color_white, 4%);
    margin: 8rem -2rem 0;

    &:before,
    &:after {
        content: '';
        display: block;
        height: 0.75rem;
        background: repeating-linear-gradient(
          -55deg,
          #797979,
          #797979 8px,
          #fff 8px,
          #fff 16px
        );
    }
}

.options__container {
    padding: 8rem 2rem;
    min-height: 100vh;

    @include media-query($sm-break) {
        position: relative;
        &:before {
            content: '';
            background: rgba(0,0,0,0.75);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            z-index: 1;
        }
        &:after {
            content: 'Please view this on a larger screen to see the full interactive experience.';
            z-index: 1;
            width: 80%;
            color: #fff;
            font-size: 1.25rem;
            position: absolute;
            top: 40%;
        }
    }
}

.options__title {
    margin-bottom: 1rem;
}
.options__subtitle {
    color: lighten($color_black, 30%);
    margin-bottom: 3rem;
}

.options__field {
    margin-bottom: 2rem;
    position: relative;
    // icon background setup
    background-repeat: no-repeat;
    background-position: 0 0.25rem;
    background-size: 1.25rem 1.25rem;

    > label {
        @extend %t-button;
    }
    .options__field-description {
        margin-bottom: 0.5rem;
        @extend %t-details;
        p {
            margin-bottom: 0.5rem;
        }
        ul {
            padding-left: 0.5rem;
            list-style-position: outside;
        }
        li {
            margin-bottom: 0.25rem;
        }
    }

    > label,
    .options__field-description {
        margin-left: 2rem;
    }

    input[type=radio] {
        @extend .visually-hidden;

        & + label {
            display: block;
            position: relative;
            padding: 0.5rem;
            padding-left: 2rem;
            color: lighten($color_black, 10%);

            .label-icon {
                position: absolute;
                left: 0;
                svg circle,
                svg path {
                    stroke: lighten($color_black, 10%);
                }
            }

            .feather-check-circle {
                display: none;
            }

            &:hover {
                color: $color_black;
                .label-icon > svg circle,
                .label-icon > svg path {
                    stroke: $color_black;
                }
            }
        }

        &:checked + label {
            color: $color_blue;

            .feather-check-circle {
                display: block;
                polyline {
                    color: $color_blue;
                }
            }
            .feather-circle {
                display: none;
            }

        }
    }
}

.options__field[data-label="numApts"] {
    background-image: url('/housingilab/images/icons_size.svg');
}

.options__field[data-label="numFloors"] {
    background-image: url('/housingilab/images/icons_numFloors.svg');
}

.options__field[data-label="ratioParking"] {
    background-image: url('/housingilab/images/icons_parkingSpaces.svg');
}

.options__field[data-label="type"] {
    background-image: url('/housingilab/images/icons_compact.svg');
}

.options__field[data-label="numFloors"] {
    background-image: url('/housingilab/images/icons_numFloors.svg');
}


.options__field[data-label="rentScenario"] {
    background-image: url('/housingilab/images/icons_rent.svg');
}


table {
    tr:nth-child(odd) {
        background: #fafafa;
    }
    th, td {
        font-size: 0.85rem;
        padding: 0.25rem;
    }

    .t-financial {
        text-align: right;
    }
}




/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    @extend %t-button;
    color: $color_black;
  display: inline-block;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid $color_black;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(33, 38, 45, 0.4), -1px 1px 5px rgba(245, 237, 237, 0.2);

  &:hover {
    color: lighten($color_black, 10%);
    border-color: lighten($color_black, 10%);
  }
}


.button--primary {
    @extend %t-button;
    color: $color_white;
    background-color: $color_blue;
    border: none;
    padding: 1rem 2rem;
    &:active,
    &:focus,
    &:hover {
        background: darken($color_blue, 4%);
        color: $color_white;
    }

    svg {
        stroke: $color_white;
    }

    > * {
        vertical-align: middle;
    }

}


a {
    color: $color_blue;
    &:hover {
        color: darken($color_blue, 10%);
    }
}


.scale {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
    padding-bottom: 3rem;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 90%;

    &.right {
        background-image: url(/housingilab/images/scale-right.jpeg);
    }
    &.left {
        background-image: url(/housingilab/images/scale-left.jpeg);
    }

    .scale-right .scale-title {
        color: $color_green;
    }
    .scale-left .scale-title {
        color: $color_red;
    }
    .scale-right,
    .scale-left {
        position: relative;
        border-radius: 2px 2px 0 0;
        display: flex;
        flex-direction: column;
        width: calc(50% - 1.5rem);
        height: 18rem;
        padding: 0.25rem;
        border-radius: 2px;
        max-width: 12rem;
        padding-bottom: 2rem;

        &.taller {
            height: 20rem;
        }
        .scale-title {
            position: absolute;
            bottom: 0.5rem;
            left: 0;
            width: 100%;
            text-align: center;
            font-weight: bold;
        }
        .block {
            background: #ccc;
            font-size: 0.8rem;
            position: relative;
            margin-bottom: 0.15rem;
            border-radius: 2px;
            border: 2px solid $color_white;
            span {
                position: absolute;
                padding: 0.25rem;
                right: 3.5rem;
                top: 0.5rem;
                background: white;
                width: 8rem;
                font-size: 0.8rem;
                position: absolute;
                opacity: 0;
                transition: all 250ms ease-in-out;
                z-index: -100;
            }
            &:hover {
                span {
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
    }
    .scale-left {
        .block {
            background: $color_red;
            &:hover {
                border: 2px solid darken($color_red, 10%);
            }
            span {
                left: 2.5rem;
                right: auto;
                top: 0.5rem;
                border: 2px solid darken($color_red, 10%);
            }
        }
        .block + .block {
            background: rgba($color_red, 0.8);
        }
        .block + .block + .block {
            background: rgba($color_red, 0.6);
        }
        .block + .block + .block + .block{
            background: rgba($color_red, 0.5);
        }
        .block + .block + .block + .block + .block {
            background: rgba($color_red, 0.2);
        }
    }

    .scale-right {
        .block {
            background: $color_green;
            &:hover {
                border: 2px solid darken($color_green, 10%);
            }

            span {
                border: 2px solid darken($color_green, 10%);
            }
        }
        .block + .block {
            background: rgba($color_green, 0.8);
        }
        .block + .block + .block {
            background: rgba($color_green, 0.6);
        }
        .block + .block + .block + .block{
            background: rgba($color_green, 0.5);
        }
        .block + .block + .block + .block + .block {
            background: rgba($color_green, 0.2);
        }
    }
}

