.hero__title {
    @extend %t-headline-oversized;
    max-width: 45rem;
    span {
        color: darken($color_blue, 4%);
    }
}

.button--next-lesson {
    @extend %t-button;
    margin-top: 10rem;
    width: calc(100% + 4rem);
    margin: 0 -2rem 0;
    border-radius: 0;
    height: auto;
    padding: 2rem 2rem;
    text-align: left;
    border: 0;
    background: $color_yellow-pale;
    color: $color_black;
    box-shadow: none;

    .button__subtitle {
        display: block;
        line-height: 2;
        letter-spacing: 0.2em;
        padding-left: 2px; // offset for type sizing
    }
    .button__title {
        text-transform: none;
        font-size: $base-font-size * $type-ratio * $type-ratio;
        letter-spacing: 0;
    }
    svg {
        height: 2rem;
        width: 2rem;
        margin-left: 1rem;
    }
}


.lesson,
.lesson > * {
    position: relative;
}

.lesson__indicator {
    @extend %t-jumbo;
    color: lighten($color_blue, 40%);
    z-index: 0;
}

.lesson__title {
    margin-bottom: 0;
}

.lesson__meta {
    @extend %t-details;
    margin-bottom: 2rem;
}

.lesson > *:not(.lesson__indicator) {
    z-index: 1;
}

.lesson {
    padding-top: 10rem;
    h2 {
        font-weight: 600;
    }
}



.visualization-module__outcomes {
    background: $color_white;

    display: flex;
    flex-direction: column;

    .visualization-module__quick-outcome {
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
        padding: 0.5rem;
    }
}

.visualization-module__outcomes-content {
    padding: 0 1rem;
    height: 100%;
    overflow: auto;
    p {
        margin: 0;
    }
}



.visualization-module__toggle {
    box-shadow: none;
    display: inline-block;
    border: none;
    position: absolute;
    top: 0.35rem;
    right: 2rem;
    width: 1rem;
    height: 1rem;

    .feather {
        height: 1.25rem;
    }
    .feather-minimize {
        display: block;
    }
    .feather-maximize {
        display: none;
    }

    .is-closed & {
        .feather-maximize {
            display: block;
        }
        .feather-minimize {
            display: none;
        }
    }
}


.table-of-contents {
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    height: 2.5rem;
    opacity: 0;
    transition: all 250ms ease-in-out;

    .is-scrolled & {
        opacity: 1;
    }

    .table-of-contents__list {
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        transition: all 250ms ease-in-out;

        list-style: none;
        padding: 2rem;
        a {
            font-size: 1.5rem;
            text-decoration: none;
            font-weight: bold;
            padding: 1rem 0;
            display: inline-block;
            color: black;
            &:hover {
                color: lighten(black, 30%);
            }
        }
    }
    &.is-open {
        height: 100vh;
        .table-of-contents__list {
            z-index: 0;
            visibility: visible;
            opacity: 1;
        }
        .menu__current-item {
            opacity: 0;
        }
    }

    .is-scrolled & {
        position: fixed;
        top: 0;
        left: 1rem;
        width: 36rem;
    }
}


.menu-toggle {
    @extend %t-button;
    box-shadow: none;
    border: none;
    color: black;
    height: 2rem;
    line-height: 2rem;
    position: relative;
    margin-left: 1rem;
    padding-left: 2rem;
    transition: all 250ms ease;

    &:before {
        content: '';
        width: 1rem;
        height: 3px;
        background: black;
        display: inline-block;
        position: absolute;
        top: calc(50% - 1.5px);
        left: 0;
        transition: all 250ms ease;
    }
    &:after {
        content: '';
        width: 1rem;
        height: 9px;
        display: inline-block;
        position: absolute;
        top: calc(50% - 0.45rem);
        left: 0;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        transition: all 250ms ease;
    }
    .is-open &:before {
        top:45%;
        transform: rotate(45deg);
    }
    .is-open &:after {
        border-top-color: transparent;
        border-top: 0;
        height: 0;
        top:45%;
        transform: rotate(-45deg);
    }

    .is-open & {
        color: transparent;
    }
}




.message {
    border: 1px solid $color_black;
    color: $color_black;
    display: inline-block;
    padding-right: 1rem;
    &:before {
        content: "i";
        font-family: 'Courier New', Courier, monospace;
        display: inline-block;
        background: $color_black;
        color: $color_white;
        padding: 0.25rem 0.5rem;
        margin-right: 0.5rem;
    }
}


.options {
    background-color: darken($color_white, 4%);
    margin: 2rem -2rem;
    padding: 5rem 2rem;
}


.options__field {
    margin-bottom: 2rem;

    > label {
        @extend %t-button;
    }
    .options__field-description {
        margin-bottom: 0.5rem;
        @extend %t-details;
    }

    input[type=radio] {
        @extend .visually-hidden;

        & + label {
            display: block;
            position: relative;
            padding: 0.5rem;
            padding-left: 2rem;
            color: lighten($color_black, 10%);

            .label-icon {
                position: absolute;
                left: 0;
                svg circle,
                svg path {
                    stroke: lighten($color_black, 10%);
                }
            }

            .feather-check-circle {
                display: none;
            }

            &:hover {
                color: $color_black;
                .label-icon > svg circle,
                .label-icon > svg path {
                    stroke: $color_black;
                }
            }
        }

        &:checked + label {
            color: $color_blue;

            .feather-check-circle {
                display: block;
                polyline {
                    color: $color_blue;
                }
            }
            .feather-circle {
                display: none;
            }

        }
    }
}



table {
    tr:nth-child(odd) {
        background: #fafafa;
    }
    th, td {
        font-size: 0.85rem;
        padding: 0.25rem;
    }

    .t-financial {
        text-align: right;
    }
}




/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    @extend %t-button;
    color: $color_black;
  display: inline-block;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid $color_black;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(33, 38, 45, 0.4), -1px 1px 5px rgba(245, 237, 237, 0.2);

  &:hover {
    color: lighten($color_black, 10%);
    border-color: lighten($color_black, 10%);
  }
}


.button--primary {
    @extend %t-button;
    color: $color_white;
    background-color: $color_blue;
    border: none;
    padding: 1rem 2rem;
    &:active,
    &:focus,
    &:hover {
        background: darken($color_blue, 4%);
        color: $color_white;
    }
}


a {
    color: $color_blue;
    &:hover {
        color: darken($color_blue, 10%);
    }
}


.outcome-description {
    font-weight: 300;

    .outcome-info-user {
        color: $color_blue;
        border-bottom: 1px dotted $color_blue;
    }
    .outcome-info-machine {
        color: $color_copper;
        border-bottom: 1px dotted $color_copper;
    }

    .outcome-info-machine,
    .outcome-info-user {
        position: relative;

        // &:hover {
        //     &:before {
        //         @extend %t-details;
        //         content: attr(title);
        //         position: absolute;
        //         top: calc(100%);
        //         left: calc(50% - 5rem);
        //         width: 10rem;
        //         background: lighten($color_black, 10%);
        //         color: $color_white;
        //         padding: 0.25rem;
        //         z-index: 1;
        //     }
        // }
    }
}

.scale {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    .scale-right,
    .scale-left {
        display: flex;
        flex-direction: column;
        width: calc(50% - 0.5rem);
        height: 18rem;
        padding: 0.5rem;
        border-radius: 2px;
        max-width: 12rem;

        &.taller {
            height: 20rem;
        }
        h4 {
            color: $color_white;
            letter-spacing: 0.1px;
            font-weight: 400;
            margin-bottom: 0.5rem;
        }
        .block {
            background: white;
            border-radius: 2px;
            margin: 0.25rem 0;
            font-size: 0.8rem;
            padding: 0.25rem;
        }
    }
    .scale-left {
        background: $color_red;
        .block {
            color: $color_red;
        }
    }
    .scale-right {
        background: $color_green;
        .block {
            color: $color_green;
        }
    }
    .scale-base {
        width: 100%;
        height: 5rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    &.left .scale-base {
        background-image: url('/housingilab/images/scale-left.jpeg');
    }
    &.right .scale-base {
        background-image: url('/housingilab/images/scale-right.jpeg');
    }
}
