.hero {
    .hero__container {
        background: $color_white;
        // width: calc(40% + 8rem);
        // min-height: calc(100vh - 4rem);
        display: flex;
        justify-content: flex-start;
        padding: 4rem;
        padding-bottom: 1rem;
        flex-wrap: wrap;
        margin-top: 4rem;

        @include media-query($sm-break) {
            align-items: flex-start;
            flex-direction: column;
            padding: 4rem 2rem;
        }
    }

    .hero__video {
        max-width: $lg-content-area;
        width: 80%;
        margin: 1rem auto;
    }

    .hero__primary {
        min-width: $lg-content-area;
        padding-right: 6rem;
        text-align: right;
        @include media-query($lg-break) {
            min-width: $sm-content-area;
        }
        @include media-query($sm-break) {
            min-width: 0;
            margin-bottom: 4rem;
            padding-right: 0;
            text-align: left;
        }

        h1 {
            color: $color_blue;
            margin-bottom: 8rem;
            @include media-query($sm-break) {
                margin-bottom: 4rem;
            }
        }

    }
    .hero__secondary {
        color: $color_dark-grey;
        max-width: 40rem;

        h2 {
            font-weight: 300;
        }
        p {
            margin-bottom: 1rem;
        }
    }

    .logos {
        > * {
            vertical-align: middle;
            display: inline-block;
        }
        a {
            text-decoration: none;
        }
        img {
            height: 5rem;
        }
    }

    .powered-by {
        display: inline-block;
        > * {
            color: $color_blue;
            font-weight: 600;
            vertical-align: middle;
        }
    }


    .beta {
        position: relative;
        display: block;
        svg {
            position: absolute;
            top: -2rem;
            left: 4rem;
            height: 3rem;
            width: 3rem;
            @include media-query($lg-break) {
                left: -2rem;
            }
            @include media-query($sm-break) {
                top: -3rem;
                right: -3rem;
                left: auto;
            }
        }
    }
}


.hero__title {
    @extend %t-headline-oversized;
    max-width: 45rem;
    span {
        color: darken($color_blue, 4%);
    }
}
