body {
}

.page-content {
    position: relative;
}


.hero {
    .hero__container {
        background: $color_white;
        // width: calc(40% + 8rem);
        min-height: calc(100vh - 4rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 4rem;
    }
}


.page-content .lesson-modules {
    background: $color_white;
    width: 30rem;
    padding: 2rem;
    box-shadow: 0 3px 20px rgba(33,38,45,.15), -1px 1px 10px rgba(0,0,0,.05);
    z-index: 1;
    position: relative;
    overflow-x: hidden;
}

.page-content .visualization-module {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 30rem);
    height: 100vh;
    background: #fefefe;
    z-index: 0;
}

.visualization-module__canvas {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    canvas {
        position: absolute;
        right: 0;
    }
}
.visualization-module__controls {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    .visualization-module__control-content {

        button {
            background: rgba(255,255,255,0.25);
            border: 2px solid rgba(255,255,255,0.5);
            display: inline;
            margin: 0;
            color: black;
            letter-spacing: 1px;
            box-shadow: none;
            text-transform: none;
            letter-spacing: 0;
        }
    }
}
.visualization-module__options {
    position: absolute;
    top: 0;
    left: 0;
    width: 12rem;
    height: 100%;
}

.visualization-module__outcomes {
    height: 60vh;
    top: calc(50% - 30vh);
    width: calc(100% - 4rem);
    position: absolute;
    left: 2rem;
    z-index: 10;
    transition: all 250ms ease;
    box-shadow: 0 3px 20px rgba(33,38,45,.15), -1px 1px 10px rgba(0,0,0,.05);

    &.is-closed {
        top: 0;
        height: 2rem;
    }

}

.page-content.is-scrolled .visualization-module {
    position: fixed;
    width: calc(100% - 31rem);
}



/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .page-content,
    .site-footer {
        margin-left: 1rem;
    }
    .page-content {
        margin-top: 1rem;
    }
    .site-footer {
        margin-bottom: 1rem;
    }
}


.is-visible {
    display: block;
}
.is-hidden {
    display: none;
}
