body {
}

.page-content {
    position: relative;
}


.hero {
    .hero__container {
        background: $color_white;
        // width: calc(40% + 8rem);
        min-height: calc(100vh - 4rem);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 4rem;
    }

    .hero__primary {
        min-width: 35rem;
        padding-right: 6rem;
        text-align: right;

        h1 {
            color: $color_blue;
            margin-bottom: 8rem;
        }

    }
    .hero__secondary {
        color: $color_dark-grey;
        h2 {
            font-weight: 300;
        }
        p {
            margin-bottom: 1rem;
        }
    }

    .logos {
        img {
            height: 5rem;
        }
    }
}


.page-content .lesson-modules {
    background: $color_white;
    width: 36rem;
    padding: 2rem 2rem 0 2rem;
    box-shadow: 0 3px 20px rgba(33,38,45,.15), -1px 1px 10px rgba(0,0,0,.05);
    z-index: 1;
    position: relative;
    overflow-x: hidden;
}

.page-content .visualization-module {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 36rem);
    height: 100vh;
    background: #fefefe;
    z-index: 0;
}

.visualization-module__canvas {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    canvas {
        position: absolute;
        right: 0;
    }
}
.visualization-module__controls {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    .visualization-module__control-content {

        button {
            background: rgba(255,255,255,0.25);
            border: 2px solid rgba(255,255,255,0.5);
            display: inline;
            margin: 0;
            color: black;
            letter-spacing: 1px;
            box-shadow: none;
            text-transform: none;
            letter-spacing: 0;
            padding: 0.25rem;
            line-height: 0;
            svg {
                height: 1.25rem;
            }
        }
    }
}
.visualization-module__options {
    position: absolute;
    top: 0;
    left: 0;
    width: 12rem;
    height: 100%;
}

.visualization-module__outcomes {
    // hidden initially
    top: -4rem;
    opacity: 0;

    width: calc(100% - 4rem);
    position: absolute;
    left: 2rem;
    z-index: 10;
    box-shadow: 0 3px 20px rgba(33,38,45,.15), -1px 1px 10px rgba(0,0,0,.05);
    transition: all 250ms ease;

    &:not(.is-closed) {
        height: 90vh;

    }

    .has-interaction & {
        top: calc(50% - 45vh);
        opacity: 1;
    }

    .has-interaction &.is-closed {
        top: 1rem;
        height: 2rem;
    }

}

.page-content.is-scrolled .visualization-module {
    position: fixed;
    width: calc(100% - 37rem);
}



/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .page-content,
    .site-footer {
        margin-left: 1rem;
    }
    .page-content {
        margin-top: 1rem;
    }
    .site-footer {
        margin-bottom: 1rem;
    }
}


.is-visible {
    display: block;
}
.is-hidden {
    display: none;
}





// Default hidden
[data-lesson]:not([data-lesson="1"]) {
    display: none;
}
