.outcomes {
    position: absolute;
    top: 0;
    left: 0;
    background: $color_white;
    width: 14rem;
    height: 100%;
    display: none;
    box-shadow: 0 3px 20px rgba(33,38,45,.15), -1px 1px 10px rgba(0,0,0,.05);
    transition: all 250ms ease;
}

.has-interaction .outcomes {
    display: block;
}

.outcomes__toggle {
    background: $color_gold;
    color: $color_white;
    border: none;
    height: 2.5rem;
    display: block;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
}

.outcomes__content {
    padding: 0 1rem;
    height: 100%;
    overflow: auto;
}

.outcomes.is-closed {
    width: 3rem;
    height: 2.5rem;
    .outcomes__title {
        display: none;
    }
    .outcomes__toggle svg {
        transform: rotate(180deg);
    }

    .outcomes__content {
        display: none;
    }
}






.visualization-module__outcomes-content {
    padding: 0 1rem;
    height: 100%;
    overflow: auto;
    p {
        margin: 0;
    }

    .is-closed & {
        display: none;
    }
}



.outcomes__description {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 1rem 0;

    .outcome-info-user {
        color: $color_blue;
        border-bottom: 1px dotted $color_blue;
    }
    .outcome-info-machine {
        color: $color_copper;
        border-bottom: 1px dotted $color_copper;
    }

    .outcome-info-machine,
    .outcome-info-user {
        position: relative;

        // &:hover {
        //     &:before {
        //         @extend %t-details;
        //         content: attr(title);
        //         position: absolute;
        //         top: calc(100%);
        //         left: calc(50% - 5rem);
        //         width: 10rem;
        //         background: lighten($color_black, 10%);
        //         color: $color_white;
        //         padding: 0.25rem;
        //         z-index: 1;
        //     }
        // }
    }
}

.outcomes__list {
    list-style: none;
    .outcome__item {
        font-size: 1rem;
        position: relative;
        padding-left: 2rem;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0.2rem;
            width: 1rem;
            height: 1rem;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    [data-val="calcNumApts"]:before {
        background-image: url('/housingilab/images/icons_numApts.svg');
    }
    [data-val="numFloors"]:before {
        background-image: url('/housingilab/images/icons_numFloors.svg');
    }
    [data-val="constructionType"]:before {
        background-image: url('/housingilab/images/icons_constructionType.svg');
    }
    [data-val="numResidents"]:before {
        background-image: url('/housingilab/images/icons_numResidents.svg');
    }
    [data-val="far"]:before {
        background-image: url('/housingilab/images/icons_far.svg');
    }
    [data-val="coverageRatio"]:before {
        background-image: url('/housingilab/images/icons_coverage.svg');
    }
    [data-val="avgAptSize"]:before {
        background-image: url('/housingilab/images/icons_size.svg');
    }
    [data-val="permitProcess"]:before {
        background-image: url('/housingilab/images/icons_permitting.svg');
    }
    [data-val="numParking"]:before {
        background-image: url('/housingilab/images/icons_parkingSpaces.svg');
    }
    [data-val="parkingPrice"]:before {
        background-image: url('/housingilab/images/icons_parkingCost.svg');
    }


}
