
.page-content .visualization-module {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background: #fefefe;
    z-index: 0;
    width: calc(100% - #{$lg-content-area + 1});

    @include media-query($lg-break) {
        width: calc(100% - #{$sm-content-area + 1});
    }
    @include media-query($sm-break) {
        display: none;
    }

    .beta svg {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1;
        height: 3rem;
        width: 3rem;
    }
}


.page-content.is-scrolled .visualization-module {
    position: fixed;
    width: calc(100% - #{$lg-content-area + 2});

    @include media-query($lg-break) {
        width: calc(100% - #{$sm-content-area + 1});
    }
    @include media-query($sm-break) {
        display: none;
    }
}



.visualization-module__controls {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    .visualization-module__control-content {

        button {
            background: rgba(255,255,255,0.25);
            border: 2px solid rgba(255,255,255,0.5);
            display: inline;
            margin: 0;
            color: black;
            letter-spacing: 1px;
            box-shadow: none;
            text-transform: none;
            letter-spacing: 0;
            padding: 0.25rem;
            line-height: 0;
            svg {
                height: 1.25rem;
            }
        }
    }
}



.visualization-module__canvas {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    canvas {
        position: absolute;
        right: 0;
    }

    &:before {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: url('/housingilab/images/3drotate.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 10rem;
        background-color: Rgba(255,255,255,0.2);
        opacity: 1;
        transition: all 250ms ease-in-out;
    }
}

.page-content.has-interaction .visualization-module__canvas:before,
.page-content.has-moved .visualization-module__canvas:before,
.visualization-module:hover .visualization-module__canvas:before {
    opacity: 0;
    z-index: -1;
}

